<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" type="image/png" href="/assets/fav/fav-32.png" sizes="32x32" />
  	<link rel="icon" type="image/png" href="/assets/fav/fav-16.png" sizes="16x16" />
  	<meta property="og:image" content="http://nudibranch.uk/assets/images/share.jpg" />
    <style>
      [am-Logo] {
        opacity: 0;
      }
    </style>
</head>
<body>
  <div am-All>
    <a data-logo am-Logo href="https://twitter.com/NudibranchMusic">
      <canvas></canvas>
      <img src="/assets/images/logo.svg" alt="Nudibranch">
    </a>
  </div>
</body>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-60252396-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-60252396-2');
</script>
</html>
