<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <div am-All>
    <div data-logo am-Logo>
      <canvas></canvas>
      <img src="/assets/images/logo.svg"
    </div>
  </div>
</body>
</html>
